h1{
	color:white;
	font-size: 50x;
	font-family: Courier New;
	border: 5px;
    border color: #FFFFFF;
    border-style: double;
    width: 500px
}

h2{
   color:white;
	font-size: 50x;
	font-family: Courier New;
}
h3{
	color:#FFFFFF;
	font-size: 30px;
	font-family: Bradley Hand ITC;
	border: 5px; width: 500px;
    border color: #EBF60A;
    border-style: solid;
}
p{
   color:white;
	font-size: 30px;
	font-family: Bradley Hand ITC;
}


body{
	background-image: url(../imagenes/fondotres.jpg); 
}

a{
	color: black;
}
button{
	color: black;
}

.redessociales li {
	display: inline-block;
}

footer{
	background: white;
}

aside{
	float: right;
}
